<!DOCTYPE html>
<html>
  <head>
    <title>Amusement Park</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--  navbar -->
  <%= render "layouts/navbar" %>
    <!-- content -->
    <div class="container"  role="main">
      <% flash.each do |type, message| %>
     <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
   <% end %>

      <%= yield %>
    </div>

  </body>
</html>
